<html>
<head><title>Home</title></head>
<body>
<form @submit.prevent="getFormValues">
    <div id="app">
        <p>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" v-model="username">
            <br>
        </p>
        <p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" v-model="password">
            <br>
        </p>
        <p>
            <input type="submit" value="Submit">
        </p>
    </div>
</form>

</body>
</html>
